.h6 {
  font-weight: 700;
  font-size: 17px;
}

h5 {
  font-weight: 700;
  font-size: 25px;
}

@media (max-width: 1200px) {
  .about-section {
    max-width: 62% !important;
    margin-top: 5% !important;
    text-align: center;
  }
  .about {
    margin-top: 5% !important;
  }
}

@media (max-width: 991px) {
  .about-section {
    max-width: 100% !important;
  }
  .about {
    margin-top: 5% !important;
  }
}

.aboutpic {
  max-width: 450px !important;
  max-height: 310px !important;
}
